$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #FFFFFF;
$background-pale: #D1C4E9;
$background-transparent: rgba(0,0,0,0.0);
// Height variables
$carousel-item-height: 300px;
$carousel-caption-color: #666666;
$carousel-control-color: #000;

$grid-columns:      12;
$grid-gutter-width: 30px;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 1200px,
  // Extra large screen / wide desktop
  xl: 1600px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1140px,
  xl: 1540px
);



@mixin zero-margin($pad-up-dn, $pad-left-right) {
  margin: 0 auto;
  padding: $pad-up-dn $pad-left-right;
}

.row-header {
  background: $background-transparent;
  @include zero-margin(0px,0px);
}

.row-content {
  @include zero-margin(50px,0px);
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: $background-pale;
  @include zero-margin(20px, 0);
}

.jumbotron {
  @include zero-margin(70px,30px);
  background: $background-transparent;
  color: black;
}

address {
  font-size: 80%;
  margin: 0;
  color: #0f0f0f;
}

body {
  @include zero-margin(0px,0px);
  padding: 10px 0 0;
  z-index: 0;
  color: #666666;
}

// .navbar-dark {
//   background-color: $background-dark;
// }

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    background-color: $background-dark;
}

 .nav-link {
   color: black;
 }

.tab-content {
  border-left: 1px solid $lt-gray;
  border-right: 1px solid $lt-gray;
  border-bottom: 1px solid $lt-gray;
  padding: 10px;
}

.carousel {
  background: $background-transparent;

  .carousel-item {
    height: $carousel-item-height;
    img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
    }
  }
  .carousel-caption {
    color: $carousel-caption-color;
  }
  .carousel-control-color {
    color: $carousel-control-color;
  }
}

.modal-header {
      background-color: $background-dark;
      color: floralwhite
    }

.modal-body {
      background-color: $background-pale;
    }

.close {
    color: floralwhite;
    opacity: 1;
  }



@import "compass/css3";


.menu {
  cursor: pointer;
  margin: 0 auto;
  padding-left: 1.25em;
  position: relative;
  width: 40px;
  height: 40px; }

.menu-global {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  border-top: 7px solid #666666;
  width: 100%;
  transition: 0.55s; }

.menu-top {
  top: 0; }

.menu-middle {
  top: 18px; }

.menu-bottom {
  top: 36px; }

.menu-top-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(50deg);
  transition: 0.55s 0.5s; }

.menu-middle-click {
  opacity: 0; }

.menu-bottom-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(-410deg);
  transition: 0.55s 0.5s; }

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none; }

#modalLogin {
  right: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}

#carouselButton {
  right: 0;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
